body{
    font-family: sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    flex-wrap: wrap;
}
.carte{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 6px;
    margin-right: 5%;
    margin-top: 6%;
    background: white;
    text-align: center;

}


    
.bas{
    text-align: center;
    padding: 15px;
    color: rgb(129, 43, 28);

}

.haut i {
    width: 100px;
    border-radius: 10px;
    font-size: 100px;
    color: rgb(129, 43, 28);
}
